################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# IDE
.vs
.vscode

# COLLECTLY API
/src/Collectly.API/bin
/src/Collectly.API/obj

# LEGACY
/legacy/Collectly.API/bin
/legacy/Collectly.API/obj
/legacy/Collectly.Identity/bin
/legacy/Collectly.Identity/obj
/legacy/Collectly.Identity/tempkey.rsa
/legacy/Collectly.Identity/Auth.db
/legacy/Collectly.Client/bin
/legacy/Collectly.Client/obj
